body {
    background-color: rgb(45, 45, 184);
    margin: 0;
}

.header {
    background-color: #00ffff;
    text-align: center;
}

.title-row {
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
}

/* Inline the stars and the text with display: inline */
.instructions-title {
    display: inline;
    font-size: 18px;
    color: #00ffff;
    font-family: 'Work Sans', sans-serif;
}

.instructions-row {
    margin: 0 auto;
    width: 400px;
}

.instructions-number {
    padding-right: 25px;
    font-family: 'Work Sans';
    font-size: 36px;
    color: #00ffff;
}

.instructions-text {
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 14px;
    color: #ffffff;
}

/* center the doors */
.door-row {
    text-align: center;
}

#door2,
#door3 {
    cursor: pointer;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}

.start-row {
    margin: auto;
    width: 120px;
    height: 43px;
    background-color: #eb6536;
    padding-top: 18px;
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: center;
    color: #010165;
    margin-bottom: 9px;
    cursor: pointer;
    border-radius: 5px;
}